<!DOCTYPE html>            
<html>            
<head>

<link rel="stylesheet" href="./code.css"/>
<body >
 
<div ng-app="myapp" ng-controller="appController">
<script src="./angular.min.js"></script>           
<script>            
var app = angular.module('myapp', []);            
    app.controller("appController", function ($scope,$http) { 
         $scope.purposes = ['Jaykar Library',
                'Gymnasium',
                'Bus Pass',
                'Scholarship Form',
                'Education Loan',
                'Cast-validity',
                'Non-creamy Layer',
                'Other'
               ];
	
});          
</script>

  	   	
            <form method="post" action=new_application_print.py/for_bonafied >
  	      <h1> Purpose</h1>
  	   	<p> <b>Purpose:</b></p>
              
  	     	<div  ng-repeat="purpose in purposes" " >
  	     	  <input type="radio"  ng-model="$parent.purpose"  ng-value="purpose"> {{purpose}}   
         	</div>
              <div class="cls" >

                    <div ng-if = "'Other'==purpose" >
           		
  	         	 <label> Enter your purpose:</label>
             		 <input type="text" required=""  style="width:400px;height:20px;"  name=purp  maxlength="30"><br></br>
                         
                         <input type=submit value="submit" ng>
                        
                   </div>       
              </div>
               <div class="cls" >
                  <div ng-if="'Other'!=purpose" >
                     <input type=hidden value={{purpose}} name=purp>
                       <div ng-show=purpose> 
                       <input type=submit value="submit">
                     </div>
                 </div>
               </div>
</form> 
<span style="margin-left:0.5em;"></span>
<form method="post" action="./st_loh.py">
   <input type="submit"  value="Back">
</form>
</div>              	
</body>
</head>
</html>







